<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MYbrary</title>
  </head>
  <body>
    <div>why is before not working here</div>
    <%-body%>
    <div>this is after the dody tag</div>
    this
  </body>
</html>
